body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 450px;
    height: 450px;
    overflow: hidden;
}

.row {
    display: flex;
    flex-grow: 1;
}

.blocks {
    display: flex;
    aspect-ratio: 1/1;
    flex-grow: 1;
    background-color: red;
    opacity: 0.1;
    transition: opacity 0.2s ease 0.2s;
}

.blocks:hover {
    background-color: blue;
    opacity: 1;
    transition: opacity 0.1s ease;
}

.topBar {
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1 1 auto;
    width: 100%;
    flex: 0 0 auto;
}

#logo {
    width: 100px;
    height: auto;
}

.logo,
.links {
    flex: 1;
}

.name {
    flex: 2;;
}

.topBar > * {
    display: flex;
    justify-content: center;
    align-items: center;
}


.body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    position: absolute;
    bottom: 0;
    width: 100%;
}