body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1px;
}

.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.blocks {
    width: 20px;
    height: 20px;
    background-color: red;
    opacity: 0.1;
    transition: opacity 0.1s ease 0.3s;
}

.blocks:hover {
    background-color: blue;
    opacity: 1;
    transition: opacity 0.1s ease;
}

.topBar {
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1 1 auto;
    width: 100%;
    flex: 0 0 auto;
}

#logo {
    width: 100px;
    height: auto;
}

.logo,
.links {
    flex: 1;
}

.name {
    flex: 2;;
}

.topBar > * {
    display: flex;
    justify-content: center;
    align-items: center;
}


.body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    position: absolute;
    bottom: 0;
    width: 100%;
}