.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.blocks {
    width: 20px;
    height: 20px;
    background-color: bisque;
    opacity: 0;
    transition: opacity 0.1s ease 0.2s;
    transform: 0.5s ease;
}

.blocks:hover {
    background-color: #0000FF;
    opacity: 1;
    transition: opacity 0.08s ease;
}